@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Poppins';
}

.svgbox {
    outline: solid 2px white;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

@layer base {
    ::-webkit-scrollbar{
        @apply w-2 h-2 bg-zinc-900 rounded-full
    }
    ::-webkit-scrollbar-thumb{
        @apply rounded-full bg-zinc-800
    }
    ::-webkit-scrollbar-corner {
        @apply bg-zinc-950
    }
    body {
        @apply bg-zinc-950 text-zinc-300
    }
    #root {
        @apply h-screen p-2 overflow-auto
    }
    input {
        @apply bg-zinc-800 rounded-md px-4 py-2 outline-none
    }
    input::placeholder {
        @apply text-zinc-500
    }
    textarea {
        @apply bg-zinc-800 rounded-md px-4 py-2 outline-none resize-none
    }
    textarea::placeholder {
        @apply text-zinc-500
    }
    textarea::-webkit-scrollbar{
        @apply w-2 h-2 bg-zinc-800 rounded-full
    }
    textarea::-webkit-scrollbar-thumb{
        @apply rounded-full bg-zinc-700
    }
    textarea::-webkit-scrollbar-corner {
        @apply bg-zinc-950
    }
    button {
        @apply py-2 rounded-md
    }
    label {
        @apply text-zinc-600 text-sm
    }
}
